body{
    font-family: 'Cabin', sans-serif;
}
h1{
    font-family: 'Cabin', sans-serif;
}
/* Header Parallax Element Style*/ 
.paral {
    min-height: 800px;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #fff;
    }
/* Paragraph for Parallax Section */ 
.paral p {
    font-size: 18px;
    color:#000;
    text-align: justify;    
}
    
    /* Heading for Parallax Section */ 
.paral h1 {
    color:#dd6912;
    font-size: 26px;
    text-align: justify;
}
/* Image for Parallax Section */ 
.paralsec {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.paralsec1 {
    background-image: url("../images/1-IMG_4015.JPG");
    background-position: 0 bottom;
}

.paralsec2 {
    background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
}

/* Add more images for more sections */

.display-3{
    color:#e36a06;
}

/* Remove Bottom Margin from Jumbotron */
.jumbotron{
    margin-bottom: 0;
    padding: 4rem 19rem;
}

/* Footer */
.wn-footer {
    padding: 2.5rem 0;
    text-align: center;
    color: white;
    background-color: #607D8B;
    border-top: .05rem solid #e5e5e5;
    }
    
    .wn-footer a {
    color: yellow;
    }